header{

    background-color: rgb(255, 255, 255);
    height: 85px;
    margin-bottom: 10px;
    padding-right: 100px;
    position: fixed;
    top: 0;
width: 1500px;
z-index: 10;


}

.header{
    padding-right: 100px;
    padding-top: -50px;
    margin-top: 20px;
}




.image{
    width: 0;
    height: 0;
    margin-top: -45px;
    margin-left: 50px;
}

#img{
    width: 200px;
}

#first{
    text-align: right;
    padding: 25px;
    padding-right: 500px;
}

#second{
    text-align: right;
    margin-top: -69px;
    padding-right: 350px;
}

#three{
    text-align: right;
    margin-top: -41px;
    padding-right: 200px;

}

.full_text{
    margin-left: -60px;
    margin-top: 0px;
    
}

.button1{
    margin-left: -55px;
    /* margin-top: 30px; */
}


.button{
    text-align: right;
    margin-top: -64px;
    padding-right: 56px;
    margin-top: -20px;
    
}

.the-button {
    background-color: purple;
    color: antiquewhite;
    border-radius: 100px;
    width: 175px;
    height: 55px;
    padding-top: -50px;

}

.bootmaster{
    display: flexbox;
    background-image: url(/back.png);
    background-size: 1555px ;
    background-repeat: no-repeat;
    /* background-size: ; */
    background-position: 360px;
   
    height: 750px;
    padding-left: 200px;
    margin-top: -50px;
    padding-top: 80px;
    z-index: 0;
    
}

.data{
    padding-top: 200px;
}
.he1{
    font-size: 25px;
}
.text1{
    color: rgb(92, 11, 92);
    font-size: 8px;
    border: 0.25px so;
    padding: .25px;
    border-radius: 10px;
    
    width: 200px;
    border-color: #4e3d42;
    background-color:#ddb9d7 ;

}

.text3{
   text-align: center; 
   font-size:8px;
   
}

.boot_image{
    width: 0;
    height: 0;
    margin-left: 400px;
    margin-top: -230px;

}

#bot{
    width: 800px;
    
}



#click{
    margin-top: 250px;
    margin-right: 30px;
    font-size: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 8px;
    padding-top: 8px;
    border-radius: 20px;
    background: none;
    border-color: purple;
    color: purple;
}

#click1{
    font-size: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 8px;
    padding-top: 8px;
    border-radius: 20px;
    background: none;
    border-color: purple;
    color: purple;
}

.test{
    height: 647.8px;
    width: 1072px;
    background-color: #fcfcfc;
    margin-top: 200px;
    margin-left: 200px;
    /* position: center; */
    display: flex;
    flex-wrap: wrap;
}

#bot_img{
    width: 500px;
    margin-left: 20px;
    margin-top: -56px;
}

.download{
    margin-left: 550px;
    margin-top: -340px;
}

#d_para{
    line-height: 27px;
}

#download1{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: red;
    color: beige;
}

.foter{
   background-image: url(footer.jpg); 
   position: fixed;
   bottom: 0;
   width: 1500px;
   text-align: center;
   color: beige;
}

#download2{
    padding-left: 200px;
    padding-right: 200px;
    margin-bottom: 20px;
    background-color: rgba(255, 0, 25, 0.896);
    padding-bottom: 8px;
    padding-top: 8px;
    border-radius: 6px;
}

.all_process{
    height: 950px;
    width: 1200px;
    background-color: #fcfcfc;
    margin-top: 200px;
    margin-left: 200px;
    /* position: center; */
    display: flex;
    flex-wrap: wrap;
    
}


#bot_img2{
    width: 500px;
    float: right;
    padding-left: 700px;
}

.process{
    padding-right: 650px;
    margin-top: -800px;
    padding-left: 35px;
    
}

#process_text{
    margin-top: 50px;
    font-size: 25px;
    line-height: 36px;
}